@import url('./theme.css');

.items {
    border: .3rem solid var(--bg-fblack);
    border-top: none;
    padding: .2rem;
    padding-top: 0;
    background-color: var(--bg-fblack);
    height: 65vh;
    overflow-y: scroll;
}

.items::-webkit-scrollbar {
    width: 3px;
}

.items::-webkit-scrollbar-track {
    background: transparent;
}
.items::-webkit-scrollbar-thumb {
    background: var(--dul-white);
    transition: .2s;
    border-radius: 3px;
}