:root {
    --bg-fblack : #1c1e21;
    --edg-black : #202020;
    --fb-blue   : #2374e1;
    --lg-blue   : #429dd1;
    --pre-green : #009B77;
    --dk-green  : #009b77af;
    --drk-white : #999999;
    --dul-white : #555;
    --dulp-white: #3a3b3c;
    --fr-white  : #fff;
}